* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 3rem;
    padding: 0 2.5rem;
    color: white;
}

form {
    width: 20rem;

}

form .inp {
    margin-right: 0.2rem;
    padding: 0.4rem;
    padding-left: 0.9rem;
    border-radius: 7px;
    width: 15rem;
    background-color: azure;
}

form .btn {
    padding: 0.4rem 0.6rem;
    background-color: red;
    cursor: pointer;
    font-weight: 400;
    border-radius: 7px;
}

main h2 {
    text-align: center;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    background-color: rgb(248, 228, 201);
}

section {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    /* border: 2px solid black; */
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

@media screen and (max-width: 680px) {
    .navbar {

        flex-direction: column;
        height: 7rem;
        align-items: center;
        padding: 1.2rem 0;
        width: 100vw;
    }

    main h2 {
        height: 4rem;
    }

    section {
        height: 100vh;
        padding: 0.7rem 0;
        width: 98%;

    }

    .card {
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* flex-wrap: wrap; */
    }

    

    .all-about-info p {
        font-size: 1.2rem;
        padding-left: 0.2rem;
        width: 100%;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}

.poster-img {
    height: 100%;
    flex-basis: 40%;
}

.poster-img img {
    max-width: 100%;
    max-height: 100%;
}

.movie-info {
    flex-basis: 65%;
    height: 22rem;
}

.movie-data {
    text-align: center;
    width: 100%;
}

.genre-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.3rem 0;
    margin: 0.5rem 0;
}

.genre-info p {
    background-color: rgb(10, 9, 9);
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: 700;
}

.all-about-info p {
    line-height: 2rem;
}


footer p {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 1.5rem 0;
}